<form class="formulario" [formGroup]="turnoForm" (ngSubmit)="submit()">

  <label for="fecha">Fecha:</label>
  <input type="date" id="fecha" name="fecha" formControlName="fecha" required readonly />

  <label for="hora">Hora:</label>
  <input type="time" id="hora" name="hora" formControlName="hora" required readonly />
   
  <label for="motivo">Motivo:</label>
  <textarea id="motivo" name="motivo" formControlName="motivo" rows="3" required></textarea>
  @if(this.turnoForm.get('motivo')?.errors?.['required'] && this.turnoForm.controls.motivo.touched) {
    <span> Debe ingresar el motivo de la consulta</span>
  }

  <label for="tipoMascota">Tipo de Mascota:</label>
  <select id="tipoMascota" name="tipoMascota" formControlName="tipoMascota" required>
    @for (tipo of tiposMascotas; track $index) {
      <option value="tipo">{{ tipo | capitalize }}</option>
    }
  </select>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" formControlName="email"  required />
  @if(this.turnoForm.get('email')?.errors?.['email'] && this.turnoForm.controls.email.touched) {
    <span> El email ingresado no es válido</span>
  }
  @if(this.turnoForm.get('email')?.errors?.['required'] && this.turnoForm.controls.email.touched) {
    <span> Debe ingresar el email</span>
  }

  <label for="telefono">Teléfono:</label>
  <input type="tel" id="telefono" name="telefono" formControlName="telefono" />

  <div class="botones">
    <button type="submit" class="btn aceptar" >Aceptar</button>
    <button type="button" class="btn cancelar" (click)="cancel()"  >Cancelar</button>
  </div>
</form>
  
